.verde {
    background-color: green;
}

.vermelho {
    background-color: red;
}

.azul {
    background-color: blue;
}

.preto {
    background-color: black;
}

#imagem {
    width: 100px;
    height: 100px;
    padding-left: 20px;
}
html {
    height: 1500px;
    width: 1500px;
}

.texto {
    width: 200px;
    height: 200px;
    overflow: auto;
    background-color: chocolate;
    border: 1px;
}

.none {
    display: none;
}

/* Menu */
aside {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
}

#menu-opener {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

#menu-area {
    width: 200px;
    height: 100vh;
    background-color: grey;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all ease .5s;

}

#menu-area ul, #menu-area li {
    padding: 0;
    list-style: none;
}

#menu-area li {
    display: block;
    padding: 10px;
    color: #555;
    cursor: pointer;
}

#menu-area li:hover {
    background-color: #DDD;
}